[tool.poetry]
name = "priceformation"
version = "0.1.0"
description = ""
authors = ["huck"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
openpyxl = "==3.1.0"
termcolor = "==2.2.0"
colorama = "==0.4.6"
aiosqlite = "==0.21.0"
yoyo-migrations = "==9.0.0"
python_calamine = "==0.5.4"


[tool.poetry.group.dev.dependencies]
pytest = "==7.2.1"
pyright = "==1.1.407"
pytest-cov = "==4.0.0"
pylint-pytest = "==1.1.8"
black = "==24.10.0"
pylint = "==2.16.2"
ruff = "==0.0.250"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = ["F", "E", "W", "C90",
          "I", "N", "S", "B", "A",
          "ISC", "T20", "Q", "PTH"]

line-length = 120
ignore=["B019", "A003", "S324"]

[tool.ruff.per-file-ignores]
"tests/*.py" = ["S101"]
"core/log_message.py" = ["T201"]

[tool.pyright]
reportUnnecessaryTypeIgnoreComment="warning"
